.about {
  margin: 160px 200px;
  /* padding-top: 90px; */
}

.about-row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-start;

}

.about .hrrr {
  width: 30%;
  padding-bottom: 40px;
}


.left,
.right {
  flex: 1;
}

.left p{
  font-size: 18px;
}


.right h2 {
  margin-bottom: 20px;
}


.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.c1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  padding: 15px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  background: white;
}

.c2 {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  border: 1px solid black;
  padding: 15px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  background: white;
}

.c2 h3{
  text-align: center;
}


.c1:hover, .c2:hover {

  cursor: pointer;
  background: rgba(0, 123, 255, 0.1);
  color: #007bff;
  border: 1px solid rgba(0, 123, 255, 0.3);
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}


 @media (max-width: 900px) {

.about {
  margin: 90px 2rem;
  /* padding-top: 90px; */
} 

  .about-row {
    flex-direction: column;
  }

  .card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .c1 {
    max-width: 300px;
    width: 100%;
  }
} 


