.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
}


.contact-content {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: 20px auto;


  /* background: #091012; */
  background: #000;
  color: #fff;
  /* margin: 20px; */
  border-radius: 15px;

  width: 800px;
  height: 100px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
   justify-content: center;
}

.contact-name {
  font-size: 28px;
  font-weight: 600;
}


.social-list {
  display: flex;
  gap: 20px;
  list-style: none;

  
}

.social-list li a {
  color: white;
  font-size: 22px;
  transition: 0.3s ease;
}

.social-list li a:hover {
  color: #1e88e5;
  transform: translateY(-3px);
}


.bottom-row {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  gap: 60px;

  font-size: 16px;
}

.bottom-row p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bottom-row i {
  color: #1e88e5;
}



@media (max-width: 900px) {

  .contact {
    margin: 90px 1.5rem;
    padding: 40px 0;
  }

  .contact-content {
    padding: 2rem 1.5rem;
    margin: 10px 0;
    border-radius: 12px;
    width: 400px;
    height: 110px;
  }

  
}
