 header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-list {
  margin: 15px 20px;
}

.div-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.ul-list {
  list-style: none;
  display: flex;
  gap: 3rem;
  
  background-color: black;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 10px 25px;
  border-radius: 25px;
}

.ul-list li {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 25px;
  transition: 0.3s;
}

.ul-list li a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
 
  color:white;
}

.ul-list li.active {
  
  background-color: white;
  padding: 10px 15px;
}

.ul-list li.active a,
.ul-list li.active i {
 
  color:black;
}


@media (max-width: 768px) {
  header {
    display: none;
  }

  .header-list {
  margin: 15px 2rem;
}
} 










  