
.ring-screen {
  position: fixed;
  inset: 0;
  background-image: radial-gradient(circle farthest-corner at center, #000 0%, #1C262B 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.7s ease;
  z-index: 9999;
}

.fade-out {
  opacity: 0;
}


.loader {
  width: 64px;
  height: 64px;
  position: relative;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.inner.one {
  left: 0;
  top: 0;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0;
  top: 0;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0;
  bottom: 0;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}


.ring-name {
  color: white;
  font-size: 1.6rem;
  margin-top: 20px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  opacity: 0;
  animation: fadeInName 1s ease forwards;
  animation-delay: 0.6s;
}

@keyframes fadeInName {
  to {
    opacity: 1;
  }
}


@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
