.project {
  margin: 160px 200px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  max-width: 1100px;
}

.project-card {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;

  height: 400px;
}

.project-card p {
  padding-bottom: 30px;
}

.project-card:hover {
  transform: translateY(-4px);  
  background: rgba(129, 190, 255, 0.1);
  color: #007bff;
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}


.skills {
  margin-bottom: 15px;
}

.skills span {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 6px;
  margin: 3px;
  transition: background 0.3s;

  cursor: pointer;
  border: 1px solid #000;
}

.skills span:hover {
  background: rgba(0, 123, 255, 0.1);
  color: #007bff;
  border: 1px solid rgba(0, 123, 255, 0.3);
}

.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  background: #000;
  color: white;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 25px;
  font-size: 0.9rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.cImg {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  
}

.btn:hover {
  background: #007bff;

}




@media (max-width: 900px) {

  .project {
    margin: 90px 1.5rem;
    padding-top: 30px;
    text-align: center;
  }

  .projects-container {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
  }

  .project-card {
    padding: 18px;
  }

  .project-card p {
    padding-bottom: 20px;
  }

  .skills span {
    font-size: 0.75rem;
    padding: 4px 8px;
  }

  .btns {
    gap: 8px;
  }

  .btn {
    padding: 7px 12px;
    font-size: 0.85rem;
  }

  .cImg {
    border-radius: 10px;
  }
}
