.services {
  margin: 160px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 25px;
  max-width: 1100px;
}

.service-card {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.5s ease;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.service-card:hover::before {
  left: 0;
}
