.skills-section {
  padding: 60px 0;
  text-align: center;

  margin: 160px 300px;
  padding-top: 80px;
}

.skills-section {
  font-size: 17px;
  letter-spacing: 2px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.skill-title{
  font-size: 15px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-top: 20px;
}

.skill-tag {
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 14px; 
  border: 1px solid black;
  color: black;
  transition: 0.3s ease;
  cursor: pointer;
}


.skill-tag:hover {
  background: rgba(0, 123, 255, 0.1);
  color: #007bff;
  border: 1px solid rgba(0, 123, 255, 0.3);
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}



@media (max-width: 900px) {

  .skills-section {
    margin: 90px 1.5rem;
    padding-top: 40px;
  }

  .skill-title {
    font-size: 14px;
    letter-spacing: 1.5px;
  }

  .skills-grid {
    gap: 10px;
  }

  .skill-tag {
    font-size: 13px;
    padding: 8px 16px;
  }
}
